<div class="card">
<div class="card mt-3 mb-3">
    <img src="/iconos/bienvenida.jpg" class="rounded banner" alt="">
</div>

<div class="row mx-4 my-4" id="tarjetaReceta">
    {{#each receta}}
    <div class="col-md-4 mt-5 ">
        <div class="card zoom">
            <p id="id_tarjetaReceta" style="display:none">{{_id}}</p>
            <a href="/recetas/ver/{{_id}}" class="card-body">
                <h4 class="card-title txt-centrado">
                    {{title}}
                </h4>
                <div class="container">
                        <div class="row d-flex justify-content-center">
                            <p id="promedio_calificacion_{{_id}}" style="display:none">{{calificacion}}</p>
                            <div class="form-check mr-3">
                                <i class="fa fa-star-o fa-xs estrella" id="{{_id}}prom1" aria-hidden="true"></i>
                                <i class="fa fa-star-o fa-xs estrella" id="{{_id}}prom2" aria-hidden="true"></i>
                                <i class="fa fa-star-o fa-xs estrella" id="{{_id}}prom3" aria-hidden="true"></i>
                                <i class="fa fa-star-o fa-xs estrella" id="{{_id}}prom4" aria-hidden="true"></i>
                                <i class="fa fa-star-o fa-xs estrella" id="{{_id}}prom5" aria-hidden="true"></i>

                            </div>
                        </div>
                    </div>
                <h6 class="txt-centrado txt-categoria">
                    {{categoria}}
                </h6>
                <br>
                <img src="{{imagenURL}}" class="img-fluid img-completa rounded">
                <h6 class="txt-centrado txt-categoria my-auto"><img class="img-circular" width="25" height="25" src="{{owenImg}}" alt="">{{owen}}</h6>
            </a>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto mt-5">
        <div class="card-body">
            <p class="lead">
                Aún no hay recetas en nuestro servidor.
            </p>
            <a href="/recetas/new" class="btn btn-success btn-block">Sé el primero en subir una!</a>
        </div>
    </div>
    {{/each}}
</div>
</div>