<div class="card mt-3 mb-3">
    <img src="/iconos/bienvenida.jpg" class="rounded banner" alt="">
</div>

<div class="row">
    {{#each receta}}
    <div class="card all-receta col-lg-3 col-md-3 col-xl-3 mt-5 ml-5">
        <img src="{{imagenURL}}" alt="" class="rounded foto-plato">
        <h4>{{title}}</h4>
        <h6>{{categoria}}</h6>
        <div class="botones col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <a href="/recetas/ver/{{_id}}" class="btn btn-success btn-lg">Ver</a>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">
                Aún no hay recetas en nuestro servidor.
            </p>
            <a href="/recetas/new" class="btn btn-success btn-block">Sé el primero en subir una!</a>
        </div>
    </div>
    {{/each}}
</div>