<div class="col-md-8 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Nueva receta</h3>
        </div>
        <div class="card-body">
            <form action="/recetas/editar?_method=PUT&id={{datosEditar._id}}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Nombre del Plato" autofocus
                        >
                </div>
                <!-- elegir archivo -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Subir Imagen</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" name="imagen"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Seleccione Archivo</label>
                    </div>
                </div>
                <div class="form-group">
                    <textarea name="descripcion" class="form-control" placeholder="Descripcion" ></textarea>
                </div>
                <div class="form-group">
                    <select name="categoria" id="selCategoria" class="form-control" >
                        <option value="">Seleccionar Categoría</option>
                        {{#each cat }}
                        <option value="{{_id}}">{{descripcion}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Ingredientes: </label>
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            {{#each ing}}
                            <div class="col-md-5 col-lg-5 mt-2 ml-2 custom-control custom-checkbox border rounded checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{_id}}" name="{{Descripcion}}">
                                <label class="custom-control-label" for="{{_id}}">{{Descripcion}}</label>
                            </div>
                            
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>