<div class="row my-4" id="tarjetaReceta">
    {{#each receta}}
    <div class="col-md-4 mt-5 ">
        <div class="card zoom">
            <p id="id_tarjetaReceta" style="display:none">{{_id}}</p>
            <a href="/recetas/ver/{{_id}}" class="card-body">
                <h4 class="card-title txt-centrado">
                    {{title}}
                </h4>
                {{>calificacion}}
                <h6 class="txt-centrado txt-categoria">
                    {{categoria}}
                </h6>
                <br>
                <img src="{{imagenURL}}" class="img-fluid img-completa rounded">
                <h6 class="txt-centrado txt-categoria my-auto"><a href="/recetas/mis-recetas?id_user={{owen}}"class="mr-5"><img class="img-circular" width="25" height="25" src="{{owenImg}}" alt="">{{owenName}}</a></h6>
                <h5 class="d-flex justify-content-center text-dark mt-2"><i class="fa fa-eye my-auto" aria-hidden="true"></i>{{visitas}}</h5>
                <h6 id="date-{{_id}}" class="txt-centrado text-dark mt-2"></h6>
                <script>
                    var dateHand = Date.parse("{{date}}"),
                    dateHand = new Date(dateHand);
                    var options = {year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric", hour12: true};
                    dateHand = dateHand.toLocaleString('es-ES', options);
                    $('#date-{{_id}}').text(dateHand);
                </script>
            </a>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto mt-5">
        <div class="card-body">
            <p class="lead">
                Aún no tienes recetas agregadas a favoritos.
            </p>
        </div>
    </div>
    {{/each}}