<div class="card">


            {{#each resultado}}
            <div class="card mt-2">
                <div class="col-md-12 mx-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{imagenURL}}" alt="No se pudo cargar la imagen" class="img-fluid img-completa">
                        </div>
                        <div class="col-md-8">
                            <h4 class="text-center">
                                {{title}}
                            </h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center mt-3">
                                        {{descripcion}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 mx-auto text-center mt-3">
                                <a href="/recetas/ver/{{_id}}" class="btn btn-success btn btn-block">
                                    Ver receta
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
  
    </div>

    {{else}}
    <div class="row mt-3">
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">
                    No has escrito recetas aún.
                </p>
                <a href="/recetas/new" class="btn btn-success btn-block">Escribe una!</a>
            </div>
        </div>
    </div>
    <br>
    {{/each}}

    {{#if resultado}}
    <div class="botones row">
        <a class="btn btn-info" href="/recetas/new">¡Agregar más recetas!</a>
    </div>
    {{/if}}
</div>

