<br>
<div class="col-md-8 mx-auto mt-5">
    <div class="card">
        <div class="card-header">
            <h3>Nueva receta</h3>
        </div>
        <div class="card-body">
            <form action="/recetas/new-receta" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" minlength="3" name="title" class="form-control" placeholder="Nombre del Plato" value="{{title}}" autofocus required>
                </div>
                <!-- elegir archivo -->
                <div class="input-group mb-3 d-flex justify-content-center border">
                    <div class="row text-center mx-auto">
                        <h4 class="txt-center text-center mx-auto mt-3">Subir imagen (Peso maximo 5MB)</h4>
                        <br>
                        <div class="custom-file" style="margin-bottom: 10px;">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" name="imagen"
                                aria-describedby="inputGroupFileAddon01" required>
                            <label id='labelFile' class="custom-file-label" for="inputGroupFile01" id="file_name">Seleccione Archivo </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="preview"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea name="descripcion" class="form-control" placeholder="Preparacion del plato" value="{{descripcion}}" required minlength="5"></textarea>
                </div>
                <div class="form-group">                    
                    <select name="categoria" id="selCategoria" data-live-search="true" data-live-search-style="startsWith" class="selectpicker form-control" required>
                        {{#each cat }}
                            {{#if_eq tipo "cat"}}
                                <option value="{{_id}}|{{tipo}}">{{descripcion}}</option>
                            {{else}}
                                    
                                {{#each subcategorias}}
                                    <option value="{{_id}}|{{../tipo}}|{{../_id}}">{{descripcion}}</option>
                                {{/each}}
                            {{/if_eq}}
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Ingredientes: </label>
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-5 col-lg-5 mt-2 ml-2 custom-control custom-checkbox border rounded checkbox">
                                <select class="selectpicker search_query form-control" data-dropup-auto="false" data-live-search="true" name="key" id="key" placeholder="Ingrese y seleccione un ingrediente" tabindex="-98" required>
                                    <option value="0">Seleccione los ingredientes</option>
                                    {{#each ing}}
                                        <option value="{{_id}}|{{Descripcion}}">{{Descripcion}}</option>
                                    {{/each}}
                                </select>
                                <div id="suggestions" class="suggestions"></div>
                                <input type="text" hidden name="contador" id="contadorIngre">
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="form-group container" id="selecciones">
                    
                </div>
                <div class="form-group row">
                    <a href="/recetas/" class="btn btn-danger col-6">Cancelar</a>
                    <button class="btn btn-primary btn-block col-6" type="submit">Publicar</button>
                </div>
            </form>
        </div>
    </div>
</div>