<h1>Recetas por Categoria: {{categBusqueda}}</h1>

<div "row mx-4 my-4" style="padding-top: 20px;">
    <div class="col-md-4 mt-5 ">
        <div class="input-group">
            <select class="custom-select" id="ordenamientoBus" aria-label="Example select with button addon">
                <option value="1">Mas Recientes</option>
                <option value="2">Mas Vistos</option>
                <option value="3">Mejor Calificados</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="inputGroupSelect02">Ordenamiento</label>
            </div>
        </div>
    </div>
</div>
<div class="row mx-auto" id="tarjetaReceta">
    
    {{#each Receta}}
    <input type="hidden" name="idRecetas" value="{{_id}}">
    <div class="col-md-4 mt-5 ">
        <div class="card zoom">
            <p id="id_tarjetaReceta" style="display:none">{{_id}}</p>
            <a href="/recetas/ver/{{_id}}" class="card-body">
                <h4 class="card-title txt-centrado">
                    {{title}}
                </h4>
                {{>calificacion}} 
                <h6 class="txt-centrado txt-categoria">
                    {{categoria}}
                </h6>
                <br>
                <img src="{{imagenURL}}" class="img-fluid img-completa rounded">
                <h6 class="txt-centrado txt-categoria my-auto"><a href="/recetas/mis-recetas?id_user={{owen}}"class="mr-5"><img class="img-circular" width="25" height="25" src="{{owenImg}}" alt="">{{owenName}}</a></h6>
                <h5 class="d-flex justify-content-center text-dark mt-2"><i class="fa fa-eye my-auto" aria-hidden="true"></i>{{visitas}}</h5>
                <h6 id="date-{{_id}}" class="txt-centrado text-dark mt-2"></h6>
                <script>
                    var dateHand = Date.parse("{{date}}"),
                    dateHand = new Date(dateHand);
                    var options = {year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric", hour12: true};
                    dateHand = dateHand.toLocaleString('es-ES', options);
                    $('#date-{{_id}}').text(dateHand);
                </script>
            </a>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto mt-5">
        <div class="card-body">
            <p class="lead">
                Aún no hay recetas en esta/s categoria/s
            </p>
            {{#if user}}
                <a href="/recetas/new" class="btn btn-success btn-block">Sé el primero en subir una!</a>
            {{else}}
                <a href="/auth/google" target="_blank" class="btn btn-success btn-block googleSignIn">Necesitas loguearte para crear una receta. Registrate! Es gratis ;)</a>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>