<div class="container">
    <div class="row d-flex justify-content-center">
        <p id="promedio_calificacion_{{_id}}" style="display:none">{{calificacion}}</p>
        <div class="form-check mr-3">
            <i class="fa fa-star-o fa-xs estrella" id="{{_id}}prom1" aria-hidden="true"></i>
            <i class="fa fa-star-o fa-xs estrella" id="{{_id}}prom2" aria-hidden="true"></i>
            <i class="fa fa-star-o fa-xs estrella" id="{{_id}}prom3" aria-hidden="true"></i>
            <i class="fa fa-star-o fa-xs estrella" id="{{_id}}prom4" aria-hidden="true"></i>
            <i class="fa fa-star-o fa-xs estrella" id="{{_id}}prom5" aria-hidden="true"></i>
        </div>  
    </div>
</div>